//////////////////////////////
//INLINE BUTTON
  .btn-inline{
    border: none;
    color: $color-primary;
    font-size: inherit;
    font-weight: inherit;
    padding-bottom: 2px;
    border-bottom: 1px solid currentColor;
    background-color: transparent;
    cursor: pointer;
    margin-left: 3px;
    display: inline-block;
    transition: all .3s;

    & span{
      margin-bottom: 0;
      margin-left: 3px;
      transition: margin-left .2s;
    }

    &:hover{
      color: $color-grey-dark-1;

      span{
        margin-left: 8px;
      }
    }

    &:focus{
      animation: pulse .6s infinite;
      outline: none;
    }

  }


//////////////////////////////
//CTA BUTTON

  .btn{
    border: none;
    border-radius: 100px;
    background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    @include responsive(smallest){
      font-size: 1rem;
    }

    &__visible{
      display: inline-block;
      padding: 2rem 7.5rem;
      /*height: 100%;
      width: 100%;*/
      transition: all .2s;

      @include responsive(smallest){
        padding: 2rem 6rem;
      }
    }

    &__invisible{
      display: inline-block;
      padding: 2rem 0;
      position: absolute;
      top: -100%;
      left: 0;
      height: 100%;
      width: 100%;
      transition: all .2s;
    }

    &:focus{
      animation: pulse 1s infinite;
      outline: none;
      background-image: linear-gradient(to left, $color-primary, $color-primary-dark);
    }

    &:hover &__visible{
      transform: translateY(100%);
    }

    &:hover &__invisible{
      top:0;
    }
  }

