  .header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: white;
    border-bottom: 1px solid $color-grey-light-2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(smallest) {
      height: 11rem;
      flex-wrap: wrap;
      align-content: space-around;
    }
  }